*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    font-size: 16px;
}

@media(max-width:1140px){
	.container{
		max-width: 970px;
	}
}

@media(max-width:992px){
	.container{
		max-width: 970px;
	}
}

@media(max-width:767px){
	.container{
		max-width:750px;
	}
}



.header{
    background: #ff7af2;
    padding: 35px 0;
}

.container{
	flex-wrap: wrap;
    max-width: 1140px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.header-right{
	flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.search-form {
	font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 220px;
    height: 50px;
    border: 4px solid white;
	border-radius: 10px;
    padding-left: 5px;
    padding-right: 10px;
}

.search {
    outline: 0;
    border: none;
    background: none;
}

.search-input {
	font-family: "Comic Sans MS", cursive, sans-serif;
    color: #fff;
    width: 90%;
    height: 100%;
    font-size: 13px;
}
::-webkit-input-placeholder {
    color: #fff
}

:-moz-placeholder {
    color: #fff
}

::-moz-placeholder {
    color: #fff
}

:-ms-input-placeholder {
    color: #fff
}

button {
    outline: 0;
    border: none;
    background: none;
    cursor: pointer;
}
.search-i {
    color: #fff;
}

.cart-informer {
    color: #fff;
    padding-top: 0;
    padding-left: 20px;
}

.cart-informer__button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.button_login{
	font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    align-items: center;
	border: 4px solid white;
	border-radius: 10px;
	width: 70px;
    height: 45px;
    justify-content: center; 
	color: #fff;
	font-size: 12px;
}

.cart-informer__count {
    color: #111;
    font-size: 10px;
    background-color: #fff;
    width: 23px;
    height: 23px;
    margin-right: -4px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.cart-informer__icon {
    width: 45px;
    height: 45px;
    border: 4px solid white;
	border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.cart-informer__icon-i {
    color: #fff;
}
.cart-informer__i, .cart-informer__value {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
	font-family: "Comic Sans MS", cursive, sans-serif;
    padding-left: 10px;
}
.cart-informer__i {
    font-size: 11px;
    margin-top: -2px;
}



.menu {
    height: 60px;

}
.menu__container {
    position: relative;
}
.catalog {
    position: absolute;
    width: 260px;
    top: 0;
	font-family: Noto Sans, sans-serif;
    background-color: #fff;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	z-index:1;
}
.catalog__header {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
	border-radius:10px;
    border-top: none;
	border-bottom: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.catalog__header-icon {
    font-size: 21px;
}
.catalog__list {
    position: relative;
    z-index: 2;
}
ul {
    padding: 0;
    margin: 0;
	display: none;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.catalog__link {
    height: 60px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    align-items: center;
    display: flex;
}

.catalog__subcatalog {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 280px;
    top: 0;
    height: 100%;
    padding: 20px;
    transition: all .3s;
}
.catalog__item:hover .catalog__subcatalog { 
    opacity: 1;
    visibility: visible; 
    left: 260px; 
}
.catalog__subcatalog-link {
    font-size: 14px;
    color: #111;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu__nav {
    padding-left: 290px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu__nav-link {
	font-family: Noto Sans, sans-serif;
	width:100px;
    font-size: 15px;
	text-align:center;
    transition: all .3s;
}

.menu__border {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    border-left: 1px solid #e0e0e0;
    padding-left: 40px;
    height: 60px;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #111;
    text-decoration: none;
}
a:hover {
    color: #821978;
}

.open ul {
	  padding: 0;
      margin: 0;
      display: block;
}

.new__goods{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align:center;
	width:100%;
	height:60px;
	color: #a8a8a8;
}

.product-center{
	display: grid;
    grid-gap: 45px;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	max-width: 1140px;
	margin: 0 auto;
}

.product-item {
   margin: auto;
   max-width: 250px;
   text-align: center;
   background: white;
   font-family: Arial, sans-serif;
   transition: .3s ease-in;
}

.product-item img {
   border-radius: 20px 20px 0 0; 
   display: block;
   width: 100%;
}
.product-list {
   border-radius: 0 0 20px 20px;
   background: #fafafa;
   padding: 15px 0;
}
.product-list h3 {
   font-size: 18px;
   font-weight: 400;
   color: #444444;
   margin: 0 0 10px 0;
}
.price {
   font-size: 16px;
   color: #fc5a5a;
   display: block;
   margin-bottom: 12px;
}
.button {
   text-decoration: none;
   display: inline-block;
   padding: 0 12px;
   background: #cccccc;
   color: white;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 28px;
   transition: .3s ease-in;
}
.product-item:hover .button {
   background: #fc5a5a;
}

#footer {
 margin:auto;
 border-radius:8px;
 margin-top:30px;
 background-color: #ff7af2; 
 width:80%;   
 height: 80px;
 color: white;
 text-align: center; 
 padding: 30px;
 font-size:19px;
 font-family: Noto Sans, sans-serif;
}

.grey__background{
	background: #ededed;
	height: 80px;
}

.registration__container {
	color: #444444;
	font-family: Noto Sans, sans-serif;
	max-width:350px;

}

.registration_center{
	margin:0 auto;
}

.registration__text{
	font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100%;
    padding: 11px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ebebeb;
	border-radius:3px;
}

.registration__text:focus {
    background-color: #ddd;
    outline: none;
}

.registration__line{
    border: 1px solid #f1f1f1 ;
    margin-bottom: 15px;
}

.registerbtn {
    background-color: #ff7af2;
    color: white;
    padding: 15px 19px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
	border-radius: 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.registerbtn:hover {
    opacity: 1;
}

.signin {
	margin-top:10px;
    background-color: #f1f1f1;
    text-align: center;
	padding:20px;
}

.login__center{
	display:flex; 
	position:absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0;
}

.dodgerblue {
    color: dodgerblue;
}

.shopping-cart {
  max-width: 980px;
  margin: 30px auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.header-cart{
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #E1E8EE;
  padding-left:10px;
  color: #5E6977;
  font-size: 18px;
}

.total__price-cart{
	height:30px;
}

.total__buton-cart{
	width:200px;
	height:55px;
	margin-left:50px;
	padding-top:12px;
	background-color: #ff7af2; 
	text-align: center;
	border-radius:10px;
	box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.total__buton__text-cart{
	font-size: 17px;
	color:white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

 
.item-cart{
  margin-top:30px;
  padding-bottom:20px;
  height: 300px;
  border-bottom:  1px solid #e3e3e3;
  border-left:  1px solid #e3e3e3;
  border-right:  1px solid #e3e3e3;
  border-radius:10px;
}

.product__inf-cart{
	justify-content: space-around;
	display: flex;
	align-items: center;
	margin-top:25px;
}
 

.delate__item-cart{
	margin: 0 auto;
	width:100%;
	background-color: #e3e3e3;
	height:50px;
	border-radius:10px;
	padding: 10px;
	text-align: center;
}
.delate__item__text-cart{
    text-align: center;
	color:white;
	font-size:20px;
	font-family: Arial, sans-serif;
}

.delate__item-cart:hover{
   background: #d9d9d9;
}

.image-cart{
  height:200px;
  width:160px;
}
 
.description-cart{
  font-family: Arial, sans-serif;
   color: #444444;
   width:200px;
}

.item__price-cart{
  display: flex;
  text-align: center;
  font-size: 21px;
  color: #43484D;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item-cart{
    height: auto;
  }
  
  .product__inf-cart{
	  flex-wrap: wrap;
    justify-content: center;
	margin-top:0px;
  }
  
  .description-cart{
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  
  
  .image-cart{
	text-align: center;
    margin: 0 auto;
  }
  
  .delate__item-cart{
	  border-radius: 10px 10px 0 0; 
	  width:160px;
  }
 
  .item__price-cart{
	  padding-top: 10px;
  }
}

@media (max-width: 800px) {
   .header-cart{
	flex-wrap: wrap;
	justify-content: center;
	 height: auto;
  }
	
  .total__buton-cart,
  .total__price-cart{
    text-align: center;
    margin: 10px 0;
  }
  .total__price-cart{
	  width:100%;
  }
}
